name: app_set_id
description: Tiny Flutter plugin to retrieve the App Set ID (Android) or Identifier for Vendor (IDfV, iOS)
version: 1.2.0
homepage: https://github.com/erickok/app_set_id

environment:
  sdk: '>=2.17.0 <4.0.0'
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: nl.u2312.app_set_id
        pluginClass: AppSetIdPlugin
      macos:
        pluginClass: AppSetIdPlugin
      ios:
        pluginClass: AppSetIdPlugin
      web:
        pluginClass: AppSetIdWeb
        fileName: app_set_id_web.dart
